body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.links {
    padding-right: 80px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 12px;
}

.top {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    padding: 16px;
}

.logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 80px;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
}

.text h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.text button {
    background-color: #3B82F6;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 100px;
}

.text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.text p {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0; 
}

.header img {
    height: 250px;
    width: 500px;
    padding-right: 80px;
    padding-left: 50px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infor {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.imgs img {
    height: 200px;
    width: 200px;
    margin-right: 40px;
}

.imgs p {
    color: #E5E7EB;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
}
