body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.links {
    padding-right: 63px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 12px;
    display: inline-block;
}

.top {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 0 25px;
    height: 50px;
}

.logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 80px;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    padding: 0 100px;
}

.text h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 80px;
}

.text button {
    background-color: #3B82F6;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 100px;
}

.text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.text p {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0; 
}

.header img {
    height: 250px;
    width: 500px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.infor {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.imgs img {
    height: 200px;
    width: 200px;
    margin-right: 40px;
}

.imgs p {
    color: #E5E7EB;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
}

.content {
    background-color: #F9FAF8;
    height: 550px;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 8px;
}

.text2 {
    width: 700px;
}

.text2 p {
    margin: 0;
    padding: 0;
    color: #1F2937;
    font-size: 36px;
    text-align: center;
}

.text2 h3 {
    color: black;
    font-size: 24px;
    text-align: right;
    margin-top: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.box {
    background-color: #3B82F6;
    color: #E5E7EB;
    height: 120px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

.left {
    display: flex;
    flex-direction: column;
}

.left h2,p {
    margin: 0;
    margin-left: 80px;
    padding: 0;
}

.right {
    display: flex;
    align-items: right;
    margin-right: 90px;
}

.sign_up {
    background-color: #3B82F6;
    color: #E5E7EB;
    border-color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 20px;
}