body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.links {
    padding-right: 80px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 12px;
}

.top {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    padding: 16px;
}

.logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 80px;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
}

.text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.text p {
    color: #E5E7EB;
    font-size: 18px;
}
